/*----------Imagenes---------*/

/*marca de agua*/
#actividad .class_slide {
    padding: 40px 97px 0px;
    background-image: url(/useruploads/ctx/a/69319579/r/s/19665899/recuadros-de-colores_1.png);
    background-size: cover;
}



/*---------css añadido-------------*/


/*¿¿¿¿fondo de las cajas¿¿¿*/
#actividad textarea {
    resize: none;
    background-color: white;
}


/*Titulo-3*/
.bck-title3{
    font-family: cursive;
    font-weight: bold;
    color: #F18732;
    position: relative;
}



/*desplegable*/
.bck-dropdown-titulo {
    font-family: cursive;
}
.bck-dropdown-content {
    max-height: 400px;
    background-color: transparent;
}


/*Quitar titulos*/
.header .title {
    display: none;
}
.content_type_clase_fancy #actividad .content .header:before {
    content: '';
    display: none;
}


.content_type_clase_fancy #actividad .content .header {
    display: none;
}


/*----css por añadir-----*/











/*Texto de la portada*/
.portada2{
font-size:22px;
    font-weight: bold;
    color: #37B3DF;
    font-family: inherit;
}

/*Negritas*/
strong {
    font-weight: bold;
    color: #37B3DF;
font-family: cursive;
}

/*italica-rosa*/
em {
    color: #ED028C;
    font-style: normal;
    font-weight: bold;
}

/*titulo-enfasis*/
.bck-enfasis,{
    color: #3F93CF;
    font-weight: bold;
}

/*Titulos*/
.bck-title1, .bck-title2, .bck-title3, .bck-title-activity {
    font-weight: bold;
    position: relative;
    font-family: cursive;
font-size: 16px;
}

/*Titulo-actividad*/
.bck-title-activity{
color: red;
font-size:28px!important;
}




/*imagenes*/
body.content_type_clase_fancy #actividad .content img {
    height: auto !important;
    margin-top: -10px;
}


/*color-verde*/
.bck-underline {
    text-decoration: none;
color:green;
  font-family: cursive;
    font-weight: bold;
}

/*titulo de tema*/

s {
    text-decoration: none;
    font-style: italic;
    opacity: 0.6;
    color: cornflowerblue;
    font-size: 2rem;
    font-weight: bold;
}

/*actividad*/
#actividad .workspace.chooseblanks .inline-answer a {
    border: 2px solid #2A3F8E;
    color: #2A3F8E;
  font-family: cursive;
    font-weight: bold;
}


/*bordes*/
.slide_main .shortanswer-container textarea, .slide_main .shortanswer-container input, .shortanswer-container .preview, .html-book input, .html-book textarea, .html-book .preview{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 8px solid #8F2B8D;
}

/*recuadro-sabes*/
.recuadro2{
-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 8px solid #8F2B8D;
    padding: 10px 0px 10px;
    width: 500px;
    position: relative;
    left: 50%;
    margin-left: -250px;
}


.slide_main .html-book input, .slide_main .html-book textarea, .slide_main .html-book .preview{
-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 8px solid #8F2B8D;
    background: transparent;
}

.recuadro{
-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 8px solid #8F2B8D;
}

/*logo*/
.content_type_clase_fancy .logo-publisher {
    background-image: url(/useruploads/ctx/a/64723160/r/s/16966000/logosalesiana.JPG);
    height: 70px;
    background-repeat: no-repeat;
    width: 140px;
    margin-top: 5px;
    margin-right: 140px;
}

.content_type_clase_fancy .publisher-navbar {
    position: fixed;
    top: 44px;
    background: #ffffff;
    width: 100%;
    left: 0;
    height: 83px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0 9px;
}


.content_type_clase_fancy .publisher-navbar #top-navigator, .content_type_clase_fancy .publisher-navbar .dropdown {
    float: right;
    margin-top: 30px;
    display: block;
}
.slider-indicators{
top:10px;
}


/*menu-principal*/

/*lista-unidades*/
#indice .units ul li.active:not(.disabled), body:not(.isTablet) #indice .units ul li:hover:not(.disabled), #indice .units ul li:focus:not(.disabled) {
    background: #F9CC6C;
}

/*titulos de unidades*/
.unit-content .actividades .item .title {
    word-wrap: break-word;
    font-size: 19px;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    max-width: 300px;
    font-family: cursive;
    color: #67B3E3;
}

/*Contenidos de la undiad*/
.btn-primary, .btn-primary.disabled, .btn-primary.disabled:focus {
    color: #fff;
    background-color: black;
    border-color: transparent;
    opacity: 1;
    font-family: cursive;
    font-variant: small-caps;
    font-weight: bold;
}

#indice .unit-content .header .title {
    font-family: cursive;
    font-variant: small-caps;
    position: relative;
    left: 30%;
    margin: 36px 140px 20px 30px;
}

#indice .unit-content .header {
    height: 100px;
}
